@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoPrivilege</title>
</head>
<body>
    <div>
        <h2>Trang nhận về giá trị NULL.</h2>
    </div>
</body>
</html>
